---
import Layout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import CourseList from '../components/CourseList.jsx';

const clasesData = await getCollection('clases');
const clases = clasesData.map(({ data }) => data);
---

<Layout title="Clases disponibles">
  <h1 class="text-3xl font-bold mb-6 text-center text-brand">Clases disponibles</h1>
  <CourseList clases={clases} client:only="react" />
</Layout>
